In [1]:
# I started by importing the necessary packages for me to scrape html off the internet.
import requests
import pandas as pd
import lxml.html as lh

In [2]:
# Then I scraped a HTML chart with the price of gold going back to 1969 and checked to make sure the width of the first 10 rows
# was 7. Unfortunately, the title was scraped along with the chart, generating the "1" for row index 0.

url1 = 'https://www.macrotrends.net/1333/historical-gold-prices-100-year-chart'
gold_page = requests.get(url1)
gold_doc = lh.fromstring(gold_page.content)
tr_elements = gold_doc.xpath('//tr')
[len(T) for T in tr_elements[:10]]

[1, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [3]:
# I then created an empty list for column names and iterated the headings into it. The title
# for the table had unintentionally been imported, so I started at an index of 1 as to skip that row.

col=[]
i=0

for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Year
2 AverageClosing Price
3 Year Open
4 Year High
5 Year Low
6 Year Close
7 Annual% Change

In [4]:
#Next I iterated the data into the columns.

for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=7:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content()
        if i>0:
            try:
                data=int(data)
            except:
                    pass
        col[i][1].append(data)
        i+=1

In [5]:
#Here I checked to make sure the total column length was correct.

[len(C) for (title,C) in col]

[54, 54, 54, 54, 54, 54, 54]

In [6]:
# I created a dictionary and then used that to create a pandas DataFrame out of the scraped data.

Dict_gold={title:column for (title,column) in col}
gold_prices=pd.DataFrame(Dict_gold)
gold_prices.head()

,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
0,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
1,2021,"$1,805.48","$1,946.60","$1,954.40","$1,678.00","$1,879.60",-0.82%
2,2020,"$1,773.73","$1,520.55","$2,058.40","$1,472.35","$1,895.10",24.43%
3,2019,"$1,393.34","$1,287.20","$1,542.60","$1,270.05","$1,523.00",18.83%
4,2018,"$1,268.93","$1,312.80","$1,360.25","$1,176.70","$1,281.65",-1.15%

In [7]:
# The column names had filled in the first row of data, so I used .iloc to drop the row as to avoid any data-type issues.

gold_prices = gold_prices.iloc[1:]
gold_prices.head()

,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
1,2021,"$1,805.48","$1,946.60","$1,954.40","$1,678.00","$1,879.60",-0.82%
2,2020,"$1,773.73","$1,520.55","$2,058.40","$1,472.35","$1,895.10",24.43%
3,2019,"$1,393.34","$1,287.20","$1,542.60","$1,270.05","$1,523.00",18.83%
4,2018,"$1,268.93","$1,312.80","$1,360.25","$1,176.70","$1,281.65",-1.15%
5,2017,"$1,260.39","$1,162.00","$1,351.20","$1,162.00","$1,296.50",12.57%

In [8]:
# Then repeated the previous steps to scrape a HTML chart with the Dow Jones average's historical prices.

url = 'https://www.macrotrends.net/1319/dow-jones-100-year-historical-chart'
dow_page = requests.get(url)
dow_doc = lh.fromstring(dow_page.content)
dow_jones_tr_elements = dow_doc.xpath('//tr')
[len(T) for T in dow_jones_tr_elements[:10]]

[1, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [9]:
col=[]
i=0

for t in dow_jones_tr_elements[1]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Year
2 AverageClosing Price
3 Year Open
4 Year High
5 Year Low
6 Year Close
7 Annual% Change

In [10]:
for j in range(1,len(dow_jones_tr_elements)):
    T=dow_jones_tr_elements[j]
    if len(T)!=7:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content()
        if i>0:
            try:
                data=int(data)
            except:
                    pass
        col[i][1].append(data)
        i+=1
[len(C) for (title,C) in col]

[108, 108, 108, 108, 108, 108, 108]

In [11]:
Dict_dow={title:column for (title,column) in col}
dow_jones=pd.DataFrame(Dict_dow)
dow_jones.head()

,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
0,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
1,2021,"32,711.65","30,223.89","34,777.76","29,982.62","34,479.60",12.65%
2,2020,"26,890.67","28,868.80","30,606.48","18,591.93","30,606.48",7.25%
3,2019,"26,379.55","23,346.24","28,645.26","22,686.22","28,538.44",22.34%
4,2018,"25,046.86","24,824.01","26,828.39","21,792.20","23,327.46",-5.63%

In [12]:
dow_jones = dow_jones.iloc[1:54]
dow_jones.head()

,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
1,2021,"32,711.65","30,223.89","34,777.76","29,982.62","34,479.60",12.65%
2,2020,"26,890.67","28,868.80","30,606.48","18,591.93","30,606.48",7.25%
3,2019,"26,379.55","23,346.24","28,645.26","22,686.22","28,538.44",22.34%
4,2018,"25,046.86","24,824.01","26,828.39","21,792.20","23,327.46",-5.63%
5,2017,"21,750.20","19,881.76","24,837.51","19,732.40","24,719.22",25.08%

In [34]:
#To avoid any issues with the imported data or lag during my analysis, I converted the finished DataFrames into CSV files, 
# which I then loaded into the second file in this repository, titled "Web Scraping Analysis".

gold_prices.to_csv(r'C:\Users\jcfur\Documents\Web Scraping\gold_prices.csv', index = False)
dow_jones.to_csv(r'C:\Users\jcfur\Documents\Web Scraping\dow_jones.csv', index = False)